body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(173, 231, 248);
}
.resetPassword{
    border: 3px dashed darkgoldenrod;
    height: 50%;
    width: 50%;
    text-align: center;
    background: rgba(236, 240, 241, 0.55);


}
.resetPassword .form-group{
   position: relative;
   display: inline-block;
   border: 1px solid #000;
}

.resetPassword .form-group label{
    position: absolute;
    background:white;
    border: 3px dashed gold;
    left: 25%;
    bottom: 85%;
    border-top-right-radius:10px ;
    border-top-left-radius:10px ;
    padding: 5px;
}

.resetPassword input[type="email"]{
    border:3px dashed gold;
    padding: 7px;
    outline: none;

}
.resetPassword input[type="password"]{
    border:3px dashed gold;
    padding: 7px;
    outline: none;

}
.resetPassword input[type="submit"]{
    border:3px dashed gold;
    padding: 10px;
    background: white;
    cursor: pointer;
    
}
.resetPassword input[type="submit"]:hover{
    background: gold;
    border: 3px dashed white;
}

@media screen  and (max-width:500px){
    .resetPassword{
        width: 100%;
        display: grid;

    }
    
    .resetPassword .form-group{
        display: grid;
    }
    .resetPassword .form-group label{
        left: 50%;
        transform: translateX(-50%);
    }
}